@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: #FAFAFA;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

.jumbotron {
	background-image: url(opce.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

header::after {
  content: '';
  display: table;
  clear: both;
	color: white;
}

ul {
  margin: 0 0px 0 0;
  padding: 0;
  list-style: none;
	float: right;
}

ul li {
  display: inline-block;
  position: relative;
	margin: 1em;
}

ul li a {
  color: silver;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.25em;
}

ul a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: white;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

nav a:hover {
  text-decoration: none;
  color: white;
}

.div-name {
	background-color: #55d6aa;
	height: 40px;
	width: 90px;
	border-radius: 5px;
	position: relative;
	left: 10px;
}

.main-name {
	position: relative;
	top: 6px;
	left: 3px;
}

}

#form {
	position: relative;
	top: 20px;
}

#searchBar {
	border: 1px solid #000000;
	border-right: none;
	font-size: 16px;
	padding: 5px;
	outline: none;
	width: 200px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topLeft: 10px;
	-moz-border-radius-bottomLeft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	position: relative;
	bottom: 24px;
	left: 550px;
	margin-bottom: -5px;
}

#searchButton {
	border: 1px solid #000000;
	font-size: 16px;
	padding: 5px;
	background: #444;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	color: white;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topRight: 10px;
	-moz-border-radius-bottomRight: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	position: relative;
	bottom: 24px;
	left: 550px;
}

#searchButton:hover {
	color: #55d6aa;
}

	#header {
		background-attachment: fixed;
		color: white;
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-size: cover;
	}

	#header h1 {
		font-family: 'Raleway', sans-serif;
		color: #FFF;
		text-shadow: 0px 0px 300px #000;
		font-size: 500%;
		margin-top: -2em;
	}

#btn {
	border-radius: 9px;
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 135%;
	text-decoration: none;
	padding: 10px 20px;
	border: solid white 3px;
	text-transform: uppercase;
}

#btn:hover {
	color: lightgreen;
	border: solid lightgreen 3px;
}

#align-center{
	text-align: center;
}

.categories {
	text-align: center;
	color: white;
	padding: 0 auto;
	margin: 0 auto;
}

#categories_div {
	background-color: #444;
	max-width: 30vh;
	position: relative;
	left: 810px;
	border-radius: 10px;
	border: 1px solid black;
	margin-top: 20px;
}

#list-div {
  max-width: 2000px;
  margin-left: 250px;
  overflow: auto;
}

.categories-list {
  list-style-type: none;
}

.list-item img {
  float: left;
  margin: 10px;
  border: 5px solid #fff;

  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}

.list-item img:hover {
  -webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
  box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
}

.row h1{
	color: silver;
	font-family: 'Oswald', sans-serif;
	float: left;
}

#categories{
	heigth: 50rem;
}
